<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rankey Account</title>
    <% include ../layout.html %>
</head>

<body ng-app="app1" ng-init="" class="app bg-inverse" data-spy="scroll" data-target=".navbar" data-offset="50" style="background-color:mintcream">

    <nav class="iconav-slider navbar-inverse bg-inverse " id="index-navbar" style="transform:scale(.8);position:fixed;width=100%;z-index:999;" data-spy="affix" data-offset-top="197">

        <ul class="nav nav-fill  bg-inverse" aria-haspopup="false" aria-expanded="false" active style="opacity:1;">
            <li class=" dropdown nav  nav-fill nav-item col-md-1" style="opacity:1;">
                <button class="btn btn-inverse btn-sm active bg-inverse" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown" style="opacity:.5;">
                    <span class="caret"></span><img src="/images/logo.png" class="icon" />
                </button>
                <div class="navbar-header bg-inverse"><a class="navbar-brand" href="#">Rankey Account</a></div>
                <ul class="dropdown-menu bg-inverse" style="opacity:.5;">
                    <li class="down-list bg-inverse"><a class="text-primary" href="/users/register?slide=register">new user</a></li>
                    <li class="down-list bg-inverse"><a class="text-primary" href="/users/login?slide=login">login</a></li>
                    <li class="down-list bg-inverse"><a class="text-primary" href="app.php?slide=imageUpload">imageUpload</a></li>
                    <li class="down-list bg-inverse"><a class="text-primary" href="app.php?slide=grid">grid</a></li>
                    <li class="down-list bg-inverse"><a class="text-primary" href="/about?slide=about">About</a></li>
                </ul>
            </li><!--dropdown menu-->
            </li>
            <li class="nav-item"><a class="nav-link   text-right" style="color:white;font-weight:bold;text-decoration:none;" href="app.php?slide=home">home</a></li>
            <li class="nav-item"><a class="nav-link   text-center" style="color:white;font-weight:bold;text-decoration:none;" href="/users/login?slide=login">Login</a></li>
            </li>
        </ul>
    </nav><!--navigation bars-->
