<li class=" dropdown nav  nav-fill nav-item col-md-1" style="opacity:1;">
  
    <button class="btn btn-inverse btn-sm dropdown-toggle active bg-inverse" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
        <span class="caret"></span>


        <a id="start" href="#">
            <section id="skin" draggable="true" dropzone="move" class="bg-inverse">
                <video id="myvid" class="movie icon"></video>
                <p id='vid-p' class="text-muted bg-inverse" style="position:absolute;overflow:hidden;">Mirror view! <bold class="bg-sucondary" style="color:darkred;font-size:larger;">Live preview</bold></p>
            </section>
        </a>

    </button>



    <div class="navbar-header bg-inverse">
        <a class="navbar-brand" href="#">Rankey</a>
    </div>
    <ul class="dropdown-menu bg-inverse" style="opacity:.5;">
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-info" href="app.php?slide=register">new user</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-info" href="app.php?slide=login">login</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-info" href="app.php?slide=imageUpload">imageUpload</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-info" href="app.php?slide=grid">grid</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <button *ngFor="#c of contacts" class="btn btn-inverse btn-sm dropdown-toggle active bg-inverse" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
                <span class="caret"></span>


                <a  >
                    <section id="skin" draggable="true" dropzone="move" class="bg-inverse">
                        <video id="{{c.email}}" class="movie icon" poster="/images/{{c.image}}"src="{{c.src}}"></video>
                        <p class='vid-p' class="text-muted bg-inverse" style="position:absolute;overflow:hidden;">{{c.title}} !</p>
                    </section>
                </a>

            </button>
        </li>
    </ul>
</li>

<script>
    class mycontact {
        constructor(email,phone) {

        }

    }
</script>