<li class="dropdown nav nav-fill nav-item " style="opacity:1;">
    <button class=" btn btn-inverse btn-sm active bg-inverse" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" style="opacity:1;">
        <span class="caret"></span><img src="/images/contacts.png" class="icon" />
    </button>
    <div class="navbar-header "><a class="navbar-brand" href="#">Contacts</a></div>
    <ul id="contacts" class=" dropdown-menu bottom-up " style="max-height:79vh;overflow-y:scroll;">
        <li class="down-list bg-inverse"><a class="text-inverse" href="/users/register?slide=register"><p>Add friend?</p></a></li>
    </ul>
</li><!--dropdown menu-->