<li class=" dropdown nav  nav-fill nav-item  btn-sm" style="opacity:1;">
    <button class="btn btn-inverse btn-sm active bg-inverse press" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
        <img src="images/msg.png" class="icon" />
    </button>
    <ul class="dropdown-menu bg-inverse" style="opacity:.5;">
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-danger" href="app.php?slide=register">Please answer my messages!! </a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-danger" href="app.php?slide=login">lets have dinner togather</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-danger" href="app.php?slide=imageUpload">How are you my friend?</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-danger" href="app.php?slide=grid">=)</a>
        </li>
        <li class="down-list bg-inverse text-default" style="z-index:999;">
            <a class="text-danger" href="app.php?slide=upload">Hi</a>
        </li>
    </ul>




</li>