<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/main.css' />
<link rel='stylesheet' href='/stylesheets/loading.css' />
<link rel='stylesheet' href='/stylesheets/blog.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script src="/javascripts/bg-space.js"></script>





<article>
   <label class="text"for="position">What position do you offer?</label>
   <input class="vid-p" type="text" name="position"></input>
    <hr>
   <label for="company" class="text">Company Name</label>
   <input class="vid-p"type="text" placeholder="[[company]]"></input>
    <hr>
    <section>
        <textarea class="textarea-lg col-lg-6 btn-lg vid-p" placeholder="Description"></textarea>
    </section>
</article>