
    <section class="form float-left" id="main">
        <article class="form-control form-center"
                 style="padding:100px;">
            <div id="remoteVideos"></div>
            <button class="btn-warning" id="startbtn" style="padding:20px;">start</button>
            <button class="btn-warning" id="callbtn" style="padding:20px;">call</button>
        </article>
        <article class="form-control form-center" style="left-padding:100px;">
            <label id="messages">
                <p>haloo world</p><br />
                <p>haloo world</p><br />
                <p>haloo world</p><br />
            </label><br />
            <textarea id="mymsg"></textarea>
            <button class="btn-success btn-lg" id="send">sent</button>
        </article>
        </section>




