

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <link rel='stylesheet' href='/stylesheets/main.css'/>
<link rel='stylesheet' href='/stylesheets/loading.css' />
<link rel='stylesheet' href='/stylesheets/blog.css' />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 <script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bg-space.js"></script>


